# Mac
.DS_Store

# Python
__pycache__/
venv/
.env

# Julia
*.ji
*.jld2
.julia/

# image
*.png
*.pdf

# Data (計算結果などの巨大ファイルは無視)
data/*.npy
animation/*.mov

# フォルダごと無視する設定（推奨）
data/
animation/

# または拡張子で広く無視する設定
*.npy
*.mov
*.txt
*.zarray
*.zattrs
# pixi environments
.pixi/*
!.pixi/config.toml
